language: objective-c

osx_image: xcode6.4

install: echo install

script:
- curl -L -vvvv -O https://rvm_io.global.ssl.fastly.net/binaries/osx/10.10/x86_64/ruby-2.1.2.tar.bz2
- rvm use 2.1.2 --install --binary --fuzzy
