language: generic

services:
- docker

before_install:
- "echo ${#DOCKER_EMAIL} ${#DOCKER_USERNAME} ${#DOCKER_PASSWORD}"
- docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"

install: echo install

script:
- docker run --rm -it hello-world
- docker tag hello-world travisci/hello-world:latest
- docker push travisci/hello-world:latest
