language: ruby
dist: trusty
before_install:
- env | sort
- stat /.dockerenv /.dockerinit
- ip addr
- sudo apt-get update -yqq
- sudo apt-get install -yq lvm2
- if ! hash docker ; then curl https://get.docker.io | sudo bash ; fi
- sudo docker run hello-world
after_failure:
- cat /var/log/upstart/docker.log
