language: php
php: hhvm
group: edge
sudo: false
dist: trusty
services:
- mysql-5.6
script:
- git --version
- cat ~/.my.cnf
- cat /etc/hhvm/php.ini
- grep -E 'mysql.*socket' ~/.phpenv/versions/*/etc/php.ini
- "mysql -e 'SHOW VARIABLES LIKE \"%version%\";' || true"
