language: go

sudo: false

matrix:
  include:
  - env:
    - PG=9.1
    addons:
      postgresql: 9.1
  - env:
    - PG=9.1
    addons:
      postgresql: 9.1
    sudo: required
  - env:
    - PG=9.2
    addons:
      postgresql: 9.2
  - env:
    - PG=9.2
    addons:
      postgresql: 9.2
    sudo: required
  - env:
    - PG=9.3
    addons:
      postgresql: 9.3
  - env:
    - PG=9.3
    addons:
      postgresql: 9.3
    sudo: required
  - env:
    - PG=9.4
    addons:
      postgresql: 9.4
#   - env:
#     - PG=9.4
#     addons:
#       postgresql: 9.4
#     sudo: required
  - env:
    - PG=9.4
    before_install:
    - sudo service postgresql stop
    - sudo service postgresql start 9.4
    - sudo -u postgres createuser -p 5432 travis &>/dev/null || true
    - sudo -u postgres createdb -p 5432 travis &>/dev/null || true
    - sudo -u postgres createuser -p 5433 travis &>/dev/null || true
    - sudo -u postgres createdb -p 5433 travis &>/dev/null || true
    sudo: required
  - env:
    - PGPORT=5433
    - PG=9.5
    addons:
      apt:
        sources:
        - precise-pgdg-9.5
        packages:
        - postgresql-9.5
      postgresql: 9.5
  - env:
    - PGPORT=5433
    - PG=9.5
    addons:
      apt:
        sources:
        - precise-pgdg-9.5
        packages:
        - postgresql-9.5
      postgresql: 9.5
    sudo: required

before_script:
- which psql
- psql --version
- psql -tAc 'select version();'
