language: generic
sudo: false
cache:
  directories:
  - $HOME/.meteor
before_install:
- mkdir -p $HOME/bin
- cp -v ./fake-curl $HOME/bin/curl
- chmod +x $HOME/bin/curl
- PATH=$HOME/bin:$PATH:$HOME/.meteor
- nvm install 0.10.40
install:
- echo Not really install
script:
- echo A super simple install script
