language: ruby
sudo: false
dist: trusty
rvm:
- 2.3.1
cache:
  debug: true
  directories:
  - money
env:
- FOO=0
- FOO=1
- FOO=2
- FOO=3
- FOO=4
- FOO=5
- FOO=6
- FOO=7
- FOO=8
- FOO=9
install:
- mkdir -p money
script:
- echo holler $RANDOM | tee money/dollar
after_script:
- find ~/.casher -name '*.log' -type f | while read -r l; do echo "---> ${l}:"; cat "${l}"; done
- grep -A13 travis_internal_ruby ~/build.sh
