language: go
sudo: false
addons:
  ssh_known_hosts:
  - bitbucket.org
  - sammich.meatballhat.com
notifications:
  email:
    recipients:
    - dan@travis-ci.org
    on_success: always
    on_failure: always
before_install:
- openssl aes-256-cbc -K $encrypted_7a2cbd433088_key -iv $encrypted_7a2cbd433088_iv
  -in k -out ~/.ssh/k -d
- chmod 600 ~/.ssh/k
- eval "$(ssh-agent)" &>/dev/null
- ssh-add ~/.ssh/k
- git clone git@bitbucket.org:meatballhat/gittest.git
