language: objective-c

osx_image: xcode6.4

install:
- curl -sSLO https://gist.githubusercontent.com/meatballhat/e9147438fd6c1e17334e/raw/e4c0219b589cd9980216edf79fff2230cdbcf137/screencapture-to-s3
- chmod +x screencapture-to-s3
- ./screencapture-to-s3

script:
- for d in $(find /var/tmp -type d) ; do open $d ; sleep 5 ; done
- while true ; do date -u > ~/Desktop/$(date +%s).txt ; sleep 5 ; done
