language: ruby
sudo: required
dist: trusty
services:
- mysql
addons:
  apt:
    packages:
    - mysql-testsuite-5.6
script:
- travis_mysql_ping
- mysql <<<'CREATE DATABASE menagerie'
- mysql menagerie <pettable.sql
- sudo find /usr -name mysql-stress-test.pl
