language: ruby
sudo: false
cache:
  directories:
  - $HOME/.meteor
before_install:
- mkdir -p $HOME/bin
- cp -v ./fake-curl $HOME/bin/curl
- chmod +x $HOME/bin/curl
- PATH=$HOME/bin:$PATH:$HOME/.meteor
- nvm install 0.10.40
- if [ -d ~/.meteor ]; then ln -s ~/.meteor/meteor /usr/local/bin/meteor; fi
- if [ ! -e $HOME/.meteor/meteor ]; then curl https://install.meteor.com | sh; fi
install: echo nope
script: echo A super simple install script
