language: python

sudo: required

group: dev

services:
- docker

install:
- type rvm | head -1 || true

script:
- echo script
- cat ~/.bashrc

deploy:
  provider: heroku
  api_key: BOGUS
  app: bogus-app-9000
  on:
    all_branches: true
