---
language: go
addons:
  ssh_known_hosts: bitbucket.org
notifications:
  email:
    recipients:
    - dan@travis-ci.org
    on_success: always
    on_failure: always
before_install:
- git clone git@bitbucket.org:meatballhat/gittest.git
